@import "../../assets/styles/shared.scss";

.footer {
  color: $white;
  width: 100%;
  background-color: $dark-blue;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  a {
    text-decoration: none;
    color: $blue;

    &:hover, &:active, .active {
      color: $light-blue;
    }
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;

    div {
      margin: 0 5rem;

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }
    }
  }
}
