a {
  color: inherit;
  text-decoration: inherit;
}

.centered {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered-horizontal {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
